<h1>Gitlab Monolith</h1>

{% if current_user.is_authenticated %}
  Hi {{ current_user.email }}! <a href="/logout">Log out</a>

  {% if not current_user.gitlab_token %}
    <a href="/create_user">Create User</a>
  {% else %}
    <h2>Your groups</h2>
    {% for group in groups%}
      <div>
      {{group.name}}
      </div>
    {% endfor %}
  {% endif %}

{% else %}
  Hi Anonymous, <a href="/login">Log in</a>
{% endif %}
